:host {

  #unsplash-image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: center;
    background-size: cover;
  }

  #unsplash-attribution {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 20px;

    margin: 0 0 15px 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;

    span, a {
      margin: 0;
      text-decoration: none;
      color: #111111;
    }

    mat-spinner {
      margin-left: .25em;
      margin-right: .25em;
      text-align: center;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);

      a {
        text-decoration: underline;
      }
    }
  }

  .container {
    max-width: calc(min(1500px, 100vw - 30px));
    margin: 0 auto;
  }
}
