<div id="unsplash-image" [style.background-image]="backgroundUrlCss$ | async">
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div id="unsplash-attribution" *ngIf="backgroundImage$ | async as image">
      <span>
        <a
          href="https://unsplash.com/@{{ image.photographerUsername }}?utm_source=pegnu_short&utm_medium=referral">{{ image.photographerName }}</a>
        on <a href="https://unsplash.com/?utm_source=pegnu_short&utm_medium=referral">Unsplash</a>
      </span>

    <button mat-icon-button *ngIf="isImageClearingAllowed && !imageReloading" (click)="clearImage()">
      <mat-icon inline>refresh</mat-icon>
    </button>

    <mat-spinner *ngIf="imageReloading" diameter="20"></mat-spinner>
  </div>
</div>
