<div class="full-height-centered">
  <mat-card>
    <div class="input-row">
      <mat-form-field appearance="fill" class="long-url mff-no-margin">
        <mat-label>URL to shorten</mat-label>
        <input matInput type="url" placeholder="https://lorem.ipsum/long/path" [(ngModel)]="url"/>
      </mat-form-field>
      <button mat-icon-button (click)="editing = !editing" class="edit-button">
        <mat-icon>{{editing ? 'chevron_right' : 'edit'}}</mat-icon>
      </button>
      <mat-form-field appearance="fill" *ngIf="editing" class="short-url">
        <mat-label>Short URL</mat-label>
        <input matInput type="text" [(ngModel)]="shortUrl">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="shortenUrl()">Shorten</button>
    <a *ngIf="result" href="https://peg.nu/{{result}}">https://peg.nu/{{result}}</a>
  </mat-card>
</div>
