:host {

  .input-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .long-url {
    flex: 1 0 calc(100% - 45px);

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      flex: 1 0 calc(100% - 210px)
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      flex: 1 0 50%;
    }
  }

  .edit-button {
    position: relative;
    top: -10px;
  }

  .edit-button, .short-url {
    margin-left: 5px;
  }

  .full-height-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
  }

  #result {
    display: flex;
    align-items: center;

    margin-left: 1em;

    a {
      margin-right: .5em;
    }

    mat-icon {
      cursor: pointer;
    }
  }
}
