@use '@angular/material' as mat;
@import '@angular/material/theming';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies;
@include mat.core();

$short-app-primary: mat.define-palette(mat.$pink-palette, 300);
$short-app-accent: mat.define-palette(mat.$blue-palette, A100);
$short-app-theme: mat.define-light-theme($short-app-primary, $short-app-accent);

@include mat.all-component-themes($short-app-theme);

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  * {
    scrollbar-width: thin;
    scrollbar-color: mat.get-color-from-palette($short-app-primary);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    opacity: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: mat.get-color-from-palette($short-app-primary);
    border-radius: 2.5px;
  }
}
